<h1>Información</h1>
<p></p>
<tbody>
  Texto informativo acerca de la empresa y las capacidades de ella a traves de la pagina, etc etc.
</tbody>
<p></p>

<h3>
  Ubicación
</h3>

<p>
  -dirección-
</p>

<h3>
  Horarios de apertura
</h3>

<p>
  -horarios-
</p>
