<h1>Información</h1>
<p></p>
<tbody>
  Arrendamos todo lo que necesitas para practicar ski, snowboard. Equipos de calidad y en excelente condiciones, ropa, accesorios y mucho más. ¡Visítanos y pasa un día entretenido en la nieve sin preocupaciones!
</tbody>
<p></p>

<h3>
  Ubicación
</h3>

<p>
  Las Condes 14141, Las Condes, Santiago, Chile
</p>

<h3>
  Horarios de apertura
</h3>

<p>
  Todos los dias de 7:30am a 19:30pm
</p>

<!-- Link de la ubicación: https://her.is/2I3ViiU -->
