<%= form_for(nuestro_equipo) do |f| %>
  <% if nuestro_equipo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(nuestro_equipo.errors.count, "error") %> prohibited this nuestro_equipo from being saved:</h2>

      <ul>
      <% nuestro_equipo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
