<br>
</br>
<br>
</br>
<div class="container">

  <h1>Contacto</h1>

<br></br>

  <%= render 'form', contact: @contact %>

  <%= link_to 'Atrás', arriendos_path %>

<br>
</br>

  <%="Telefono - (2) 2215 6089"%>

</div>
