<h1>Contactanos</h1>
<br>
</br>
<%= render 'form', contact: @contact %>
<br>
</br>
<p>
<%= "Si tienen alguna duda tambien pueden contactarnos por el telefono +56912345678 o a traves de nuestras cuentas de instagram y facebook"%>
</p>
<p>
<%= "Facebook"%>
</p>
<p>
<%= "Instagram" %>
</p>
