<br>
</br>
<div class="container">
  <h1>Terminos y Condiciones de Servicio</h1>

  <tbody>
    <p>
    Al momento de arrendar debe presentarse con cedula de identidad y su teléfono.
  </p>
      <p>
    Todo equipo debe quedar con garantía
  </p>
      <p>
    Se debe ser mayor de 18 años para acceder a un arriendo de equipo o venir acompañado por su representante legal
  </p>
      <p>
    El arriendo de cadenas no incluye la instalación.
  </p>
  </tbody>
</div>

<br>
