
.btn-hg, .btn-group-hg > .btn {
  padding-top: 100px;
  width: 255px;
  height: 255px;
  text-align: center;
  font-size: 3.3rem;
  line-height: 1.5;
  border-radius: 2rem;
  display: inline-block;
}

.btn-sb, .btn-group-sb > .btn {
  padding-top: 15px;
  height: 50px;
  width: 350px;
  font-size: 15px;
}

.navbar {
  padding-top: 10px;
  font-size: 1.4em;
}

.navbar-brand {
  padding-top: 15px;
  min-height: 55px;
  font-size: 1.2em;
}

body {
  background-color: #f2f2f2;
  position: relative;
  padding-bottom: 200px;
  min-height: 100vh;
}

.responsive {
  width: 100%;
  height: auto;
}

.footer {
  position: absolute;
  width: 100%;
  background: #428bca;
  bottom: 0px;
}

label {
  width: 12em;
  float:left;
  text-align: left;
  margin-right: 0.5em;
  display: block;
}

input[type=submit] {
  height: 50px;
  width: 350px;
  font-size: 15px;
}
