<p>Hola <%= @resource.email %>!</p>

<p>Si quieres cambiar tu clave puedes hacerlo en el siguiente link.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no pediste cambiar la clave, ignora este email.</p>
<p>Nada puede cambiar hasta que crees una nueva con el link.</p>
